* {
     box-sizing: border-box;
}


html, body {
    font-family: 'Merriweather', serif;
    margin:0;
    padding:0;
    

}

header {
    background-color: #000;
    color: #fff;
    padding: 26px;
    font-size: 0.9em;
    text-align: center;  
    text-transform: uppercase; 
    
}

legend, .spn {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 28px;

    
}

.info {
    text-align: center;
    padding-bottom: 20px;
}


.info p {
    width: 90%;
    margin-left: 20px;

}

hr {
    border: solid #000 3px;
    
}

fieldset {
    border: 0;
  
}


input,
select,
textarea {
    width:100%;
    padding: 18px 12px;
    margin: 8px 0 24px;
    background: #f4f7f8;
    border:none;
    
}


input:focus,
textarea:focus {
    background-color: #52bab3;
    color: #fff;
    
}


input[placeholder="Required"] {
    text-align: right;
}

input[id="zipcode"] {
    display:flex;
    width:60%;
   
}



input[type="checkbox"] {
    width:20px;
    
    
}

input[type="radio"] {
    width:20px;
    
}
  

textarea {
   height: 120px;
}


.btn {
    width: 100%;
    background-color: #52bab3;
    color: #fff;
    padding: 28px;
    border-radius: 4%;
    font-size: 1.5em;
    border:none;
}

footer {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}


@media (min-width: 768px) {
  
  input,
  select,   
  textarea {
    display:flex;
    width: 100%;
    margin-left: auto;
    

  }


  input[type="text"],
  input[type="email"],
  input[id="phone"],
  input[id="street"],
  input[id="city"],
  select[id="state"] {
    width: 65%;
    

  }

 input[type="checkbox"],
 input[type="radio"] {
     display:inline-block;
 }
    

 input[id="zipcode"] {
    width: 30%;
    margin:0 auto;
    

 }



}